#Integrantes{
    color: white;
    text-align: center;
    background-color: aquamarine;
}
#primarySe
{
    margin:0;
    background-color: aquamarine;
    background:linear-gradient(#5c3821de,rgb(49,29,13) 80%);
    overflow: hidden;
    color: white;
}
