@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&family=Yanone+Kaffeesatz:wght@500&display=swap');

nav{
    background-image: url(/images/background.jpg);
    position: fixed;
}

.navbar-logo{
    width: 140px; 
    height: 90px;
    padding-left: 20px;
}

.nav-item{
    transition: border-bottom .3s ease-out;
    transition-delay: .1s;
    
}

.navbar-nav{
    height: 50px;
}

.navbar-collapse{
    margin-left: 40%;
}

.nav-link{
    font-family: 'Patrick Hand', cursive;
    font-size: 20pt;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    text-decoration: none;
}


.nav-item:hover{
    border-bottom: solid 4px rgb(202, 129, 55);
}

.nav-item a:hover{
    color: white;
}

.container-fluid{
    background-image: url(/images/restaurant.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.options-container{
    background-color: rgba(241, 235, 235, 0.664);
    border-radius: 10px;
    margin-top: 42px;
}

.menu-label{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    color:black;
    font-weight: 600;
    padding-left: 20px;
}

.menu-container{
    margin-left: 40px;
    padding-bottom: 1px;
}

.menu-item{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    padding-left: 20px;
    transition: transform .5s ease-in-out, background-color .4s ease-in-out, box-shadow .4s ease-in-out, color .4s linear;
    transition-delay: .1s;
    cursor: pointer;
}

.menu-item:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0px 0 40px  rgba(33, 33, 33, 0.336);
    background-color: rgb(202, 129, 55);
}

.menu-item a{
    text-decoration: none;
    color:black;
    font-weight: 700;
}

.menu-item:hover a{
    color:white;
}

.flecha{
    margin-left: 35px;
    font-weight: bolder;
    font-size: 35px;
}


.food-container{
    height: 485px;
    margin: 25px;
    margin-bottom: 25px;
    background-color: rgba(241, 235, 235, 0.664);
    border-radius: 10px;
}

.food-rows
{
    height: 1000px;
}

.food-item
{
    width: 150px;
    height: 140px;
    transition: transform 0.3s ease-in-out;
    transition-delay: .1s;
}

.food-item:hover{
    transform: scale(1.2);
}

.food-button{
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    background-color: transparent;
    color:black;
    height: 45px;
    font-size: 22px;
    font-weight: 500;
    transition-property: border, background-color, color;
    transition-delay: .1s;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.food-button:hover{
    border: 2px solid white;
    background-color: rgb(202, 129, 55);
    color: white;
}

footer{
    background-color: rgb(22, 21, 21);
}

.footer-logo{
    width: 140px; 
    height: 115px;
}

.eslogan{
    font-family: 'Satisfy', cursive;    
    color:white;
    font-size: 34px;
    font-stretch: ultra-expanded;
    margin-bottom: -8px;
}

.info-footer{
    font-family: 'Noto Sans JP', sans-serif;    
    font-weight: 400;
    color: white;
    font-size: 24px;
    margin-bottom: -3px;
}
@media screen and (max-width: 480px){
    .food-container{
        float: none;
    }
}

.infoFood{
    margin-left: 20px ;
    height: 160px; 
    width: 210px; 
    background-color: rgb(223, 153, 84);
    border-radius: 10px;
}

.foodText{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 16pt;
    font-weight: bold;
    color: white;
}